# Virtual environment
.venv/

# Environment variables
.env

# Documents
documents/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

output/